.gline{
  height: 70px;
  line-height: 70px;
  margin: 0 20px;
  border-bottom: 1px solid #f7f7f7;
  .left{
    float: left;
  }
  .right{
    float: right;
    input{
      width: 100%;
      text-align: right;
    }
  }
}
