.mydetail{
  .head{
    height: 150px;
    width: 100%;
    background: #6CC9D8;
    position: relative;
    .hl{
      margin-left: -30px;
    }
    .hb{
      color: #fff;
      position: relative;
      ul{
        overflow: hidden;
      }
      .screen{
        position: absolute;
        left: 0;
        top: 80px;
        width: 300px;
        color: #222222;
        background: #ffffff;
        .lines{
          line-height: 32px;
          padding: 10px 20px;
          overflow: hidden;
          .contents{
            float: left;
          }
          .list{
            float: right;
            .select{
              width: 183px;
              height: 32px;
              border: 1px solid #d9d9d9;
              padding-left: 20px;
              border-radius: 5px;
              color: #d9d9d9;
              background: #fff;
            }
          }
          .contents{
            margin-right: 15px;
          }
          .button{
            margin-left: 82px;
            padding: 0;
            background: #0081FF;
            color: #fffdef;
          }
        }
      }
      li{
        float: left;
        width: 32%;
        list-style: none;
        padding-left: 25px;
        .fb{
          position: relative;
          margin-top: 10px;
          .big{
            font-size: 1.2em;
          }
          .fj{
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .func_ul{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    background: #f2f2f2;
  a{
    display: block;
    height: 50px;
    width: 20%;
    float: left;
  }
  li{
    color: #C9C9C9;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
  }
}
  .title{
  padding: 0 15px;
  background:skyblue;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 0.9em;
  border-bottom: 1px solid #fff;
  color: #222222;
  .dl,.dr,.dc{
    width: 105px;
    float: left;
  }
  .dl{
    width: 130px;
  }
}
  .body{
      .activity{
        overflow-y: scroll;
        width: 100%;
        height: 320px;
        margin-top: 240px;
        margin-bottom: 100px;
        .dates{
          background:#F2F2F2;
          height: 40px;
          line-height: 40px;
          overflow: hidden;
          font-size: 0.9em;
          padding: 0 15px;
          border-bottom: 1px solid #fff;
          color: #222222;
          .dl,.dr,.dc{
            width: 105px;
            float: left;
          }
          .dl{
            width: 130px;
          }
        }
        .hang{
          position: relative;
          overflow: hidden;
          padding: 0;
          .dw{
            width: calc(100% + 114px);
            position: absolute;
            margin: 0 15px;
          }
          .dd{
            float: right;
            width: 115px;
            background: skyblue;
            font-size: 1.2em;
            text-align: center;
            transition:width 3s;
            a{
              color: #fff;
              display: block;
            }
          }
        }
      }
    }
}